name: e2e

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  e2e:
    runs-on: ubuntu-latest
    env:
      PROFILE: docker
      COMPOSE_PROFILES: test
      PREFIX: qaguru
      ARCH: amd64
      ALLURE_DOCKER_API: ${{ secrets.ALLURE_DOCKER_API }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      BUILD_URL: ${{ github.server_url }}/${{ github.repository }}/actions/${{ github.run_id }}/
      EXECUTION_TYPE: github
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ env.GITHUB_SHA }}
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build backends
        run: |
          ./gradlew jibDockerBuild -x :niffler-e-2-e-tests:test
      - name: Get the last commit message
        run: |
          echo "HEAD_COMMIT)MESSAGE=$(git show -s --format-%s)" >> $GITHUB_ENV
      - name: Run e2e tests
        id: e2e
        run: |
          docker compose up -d
          docker ps -a
          docker wait niffler-e-2-e
          exit_code=$(docker inspect -f '{{.State.ExitCode}}' niffler-e-2-2)
          echo "E2E_EXIT_CODE=$exit_code" >> $GITHUB_OUTPUT
          echo "### Test logs ###"
          docker logs niffler-e-2-e
          if [ "$exit_code" -eq "0" ]; then
            echo "Tests passed successfully"
            exit 0
          else
            echo "Tests failed!"
            exit 1
      - name: Add comment to PR with link allure
        if: always()
        uses: actions/github-scripts@v7
        with:
          scripts: |
            const exitCode = ${{ steps.e2e.outputs.E2E_EXIT_CODE }}
            const reportUrl = 'https://allure.niffler-stage.qa.guru/api/allure-docker-service/projects/niffler-ng/reports/latest.index.html'
            const historyUrl = 'https://allure.niffler-stage.qa.guru/api/allure-docker-service-ui/projects/niffler-ng'
            const message = exitCode == '0'  ?
              'TEST RUN PASSED There is the [report](${reportUrl})\n  All reports [history](${historyUrl})' :
              'TEST RUN FAILED There is the [report](${reportUrl})\n  All reports [history](${historyUrl})'
            github.rest.issues.createComment({
              issue_number: contest.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: message
            })
